In [1]:
print("Hola mundo")

Hola mundo

In [6]:
variable = 5
variable2 = 9

In [14]:
resultado = variable + variable2
resultado

14

In [16]:
a = "hola"
b = "mundo"
#concatena (junta) a y b
print(a+" "+b+resultado)

TypeError: can only concatenate str (not "int") to str

In [20]:
#str() convierte una variable a cadena
#int() convierte una variable a entero
#float() Convierte una variable a flotante
print("El resultado es: "+str(resultado) )

El resultado es: 14

In [1]:
#type() te dice el tipo de dato
x = 5
y = 9.9
z = "HOla"
w = 0.0
r = x+w

In [6]:
suma = x+y
resta = x-y
multiplicacion = x*y
division = x/y
potencia = x**8
print("La suma es: "+str(suma))
print("La resta es: "+str(resta))
print("La multiplicación entre "+str(x)+" y "+str(y)+" es: "+str(multiplicacion))

La suma es: 14.9
La resta es: -4.9
La multiplicación entre 5 y 9.9 es: 49.5

In [8]:
a=input("dame el valor de a: ")
b=input("dame el valor de b: ")
resultado=a+b
print("El resultado es: "+resultado)
# El resultado va a salir en cadena. Hay que especificar que es un str

dame el valor de a: 6
dame el valor de b: 3
El resultado es: 63

In [10]:
a=int(input("dame el valor de a: "))
b=int(input("dame el valor de b: "))
resultado=a+b
print("El resultado es: "+str(resultado))

dame el valor de a: 9
dame el valor de b: 4
El resultado es: 13

### Listas

In [18]:
lista_1=[7,6,"Holi",5.4,"cualquier cadena",["python","sabado"],7]
lista_1

[7, 6, 'Holi', 5.4, 'cualquier cadena', ['python', 'sabado'], 7]

In [19]:
# Append → Agrega un elemento al final de la lista
lista_1.append(7)
lista_1

[7, 6, 'Holi', 5.4, 'cualquier cadena', ['python', 'sabado'], 7, 7]

In [26]:
lista_1[5][1]

'sabado'

In [20]:
# pop() → Quita un elemento al final de la lista
lista_1.pop()
lista_1

[7, 6, 'Holi', 5.4, 'cualquier cadena', ['python', 'sabado'], 7]

In [21]:
# Count() → Cuenta el elemento que se repite
lista_1.count(7)

2

In [27]:
# index() → Devuelve el índice donde se encuentra un elemento
lista_1.index("Holi")

2

In [28]:
# insert(i,x) → i es el índice donde va a inserrtar un elemento y x será el valor que va a ingresar
lista_1.insert(2,800000)
lista_1

[7, 6, 800000, 'Holi', 5.4, 'cualquier cadena', ['python', 'sabado'], 7]

In [29]:
# remove(x) → remueve el elemento x en nuestra lista
lista_1.remove(800000)
lista_1

[7, 6, 'Holi', 5.4, 'cualquier cadena', ['python', 'sabado'], 7]

### Tuplas (no se pueden modificar)

In [30]:
tupla=(25,60,"holi",("tupla"),["python"],0.2,25)

In [31]:
tupla.count(25)

2

In [32]:
tupla.pop

AttributeError: 'tuple' object has no attribute 'pop'

### Diccionarios 
 ##### Conjunto de elementos identificados por claro:valor

In [36]:
mi_diccionario={"Clave":"Valor"}
diccionario={"Nombre":"Alejandro","Edad":23,"Ocupación":"Tallerista","Contraseñas":(1234,"qwerty")}
diccionario
# Clave SIEMPRE entre comillas

{'Nombre': 'Alejandro',
 'Edad': 23,
 'Ocupación': 'Tallerista',
 'Contraseñas': (1234, 'qwerty')}

In [37]:
diccionario["Nombre"]

'Alejandro'

In [61]:
# Crear un diccionario con mis datos e imprimirlos en un print
diccionario_1={"Nombre":"Alberto","Edad":25,"Ocupación":"Estudiante","Contraseña":("54321","abcde")}
print("Mi nombre es "+diccionario_1["Nombre"])
print("Mi edad es "+str(diccionario_1["Edad"])+" años")
print("Mi ocupación es "+diccionario_1["Ocupación"])
print("Mi contraseña es "+diccionario_1["Contraseña"][1])

Mi nombre es Alberto
Mi edad es 25 años
Mi ocupación es Estudiante
Mi contraseña es abcde